# test CI values for K8S kind deployment
magento:
  podDisruptionBudget:
    enabled: true
  horizontalPodAutoscaler:
    enabled: true

opensearch:
  extraEnvs:
    - name: DISABLE_SECURITY_PLUGIN
      value: "true"
    - name: DISABLE_INSTALL_DEMO_CONFIG
      value: "true"
    - name: bootstrap.memory_lock
      value: 'false'
    - name: bootstrap.system_call_filter
      value: 'false'

imgproxy:
  enabled: true

persistence:
  accessMode: ReadWriteOnce
  storageClassName: ""

ingress:
  enabled: true
  hosts:
    - name: magneto.local
      paths:
        - path: "/"
          serviceName: varnish
